.numeros{
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
    background-color: #74b336;
    margin-left: 12%;
    margin-top: 8%;
    border-radius: 5% 0% 0% 5%;
}

input{
    text-decoration: none;
    padding: 3%;
    font-weight: 600;
    font-size: 15px;
    color: #ee2c2c;
    background-color: #3d0f40;
    border-radius: 30px;
    border: 2px solid #400f3f;
}

.botones{
    margin-top: 8%;
    position: relative;
    float: left;
    width: 28%;
    height: 300px;
    border-radius: 0% 5% 5% 0%;
    background-color: #5aaba4;
}

div button{
    margin: 1%;
}
