div.col1{
    padding-left:15%;
  }
div.cuadro-perfil-azul{
  margin-top: 50px;
  width: 300px;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #0EA7E0;
  box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0, 0,0, 0.19);
}
div.cuadro-perfil-gris{
    width: 300px;
    height: 1000px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #EBEBEB;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0, 0,0, 0.19);
}
div.cuadro-blanco{
    padding-top: 2px;
    padding-left: 30px;
    border-color: aqua;
    margin-top: 50px;
    width: 560px;
    height: 1150px;
    background-color: #FFFFFF;
}
.centrar{text-align: center;}
div.icon-explab-tam{
    height: 50px;
}
div.contenedor-ht-left{
    margin-top: 15px;
    width: 190px;
    height: 80px;
    background-color:#FFFFFF;
}
div.contenedor-ht-right{
    margin-top: 15px;
    width: 350px;
    height: 80px;
    background-color: #FFFFFF;
}
div.contenedor-espe{
    margin-top: 0px;
    width: 180px;
    height: 80px;
    background-color:#FFFFFF;
}

div.contenedor-fa-tp4,
div.contenedor-fa-tp3,
div.contenedor-fa-tp2,
div.contenedor-fa-tp1,
div.contenedor-fa-tp{
    width: 350px;
    margin-top: 0px;
}
div.contenedor-fa-tp1{
    text-align: center;
}
div.contenedor-fa-tp2{
    margin-top: 10px;
    padding-left: 20px;
    text-align: left;
}
div.contenedor-fa-tp3{
    width: 345px;
    margin-top: 15px;
    text-align: center;
}
div.contenedor-fa-tp4{
    margin-top: 10px;
    padding-left: 20px;
    text-align: left;
}
div.contenedor-fa2,
div.contenedor-fa1,
div.contenedor-fa{
    width: 180px;
    height: 80px;
    text-align: center;
    margin-left: 5px;

}
div.contenedor-fa1{
    margin-top: 5px;
}
div.contenedor-fa2{
    margin-top: 20px;
}


div.linea-v{
    height: 95px;
    width: 2px;
    margin-left: -7px;
    margin-top: 28px;
    background-color: #DDDDDD;
}
li.clean-point{
    list-style: none;
}
.margen{
    margin-top:5px;
    margin-bottom: 0px;
}
div.tam-ref{
    margin-left: 5px;
    width: 200px;
    height: 70px;
}
div.color{
    background-color: #0EA7E0;
}
a.pos-text{
    margin-top: 15px;
    margin-left: -65px;
}

//
h1, h2, h3, h4, h5, h6, li, p, a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    padding: 15px;
    text-align: justify
}
#idioma{
    padding-top: 8px;
    padding-left: 30px;
}

//
img{
    padding-top: 75px;
    padding-left: 75px;
    padding-bottom: 75px;
    padding-right: 75px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
img.icon-row-tp2, img.icon-row-tp1, img.icon{
    width: 35px;
    height: 35px;
    margin-top: -20px;
    margin-left: 15px;
}
img.icon-row-tp1{margin-left: 80px;}
img.icon-row-tp2{margin-left: 40px;}
.circulo{
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    border: solid 1px #DDDDDD;
    -webkit-border-radius:50%;
}
img.icon-especial{
    box-align:initial;
    margin-top: -70px;
    margin-left: -7px;
    width: 35px;
    height: 35px;
}
div.icon-esp{
    margin-top: -90px;
    text-align: center
}
.circulo-min-fa2,
.circulo-min-fa,
.circulo-min-next-gris,
.circulo-min-next,
.circulo-min{
    margin-top: -9px;
    height: 10px;
    width: 10px;
    margin-left: 80px;

    -webkit-border-radius:50%;
}
.circulo-min-next{ margin-left:5px; background-color: #0EA7E0;}
.circulo-min-next-gris{ margin-left:5px; background-color:#929292; }


.circulo-min-fa{
    margin-left: 15px;
    margin-top: 10px;
    background-color: #929292;
}
.circulo-min-fa2{
    margin-left: -6px;
    margin-top: 30px;
    background-color: #929292;

}

hr{
    border: 0px;
    margin-top: 1px;
    height: 1px;
    width: 95%;
    background-color:#2F333C;
}
hr.min-left, hr.min{
    border: 0px;
    margin-top: -13px;
    height: 10px;
    width: 50px;
    background-color:#0EA7E0;
}
hr.min-left{
   margin-left: 0px;
}
.p1, .p2, .p3, .p4, .p5, .paralelogramo{
    margin-left: 5px;
    width: 100px;
    height: 8px;
    border: 0px;
    -webkit-transform: skew(40deg);
}
.p1{
    margin-left: 0px;
    background-color:  #11A7D9;
}
.p2{background-color:#65B5CE;}
.p3{background-color: #97CBE0;}
.p4{background-color: #67BDA0;}
.p5{background-color: #1F2531;}

div.icon-explab, div.icon-ref{
    padding-top: 30px;
    padding-left: 50px;
    width: 40px;
    height: 40px;

}
div.text-icon-explab, div.text-icon-ref{
    padding-top: 30px;
    padding-left: 0px;
    height: 80px;
}

div.icon-explab{
    padding-top: 5px;
    padding-left: 25px;
}
div.text-icon-explab{
    padding-top: 10px;
    padding-left: 0px;
}
